
<nav class="navigation fixed-top">
  <div id="navigation__left">
    <a href="/" class="no-hover home-link" >
      Board Game API
    </a>
  </div>

  <div class="navigation__right">
    <div class="top-icon">

      <% if user_signed_in? %>
      <%= button_to 'Log out', destroy_user_session_path, method: "delete", class: "button" %>
      <% else %>
      <%= button_to "Sign in", new_user_session_path, method: "get", class: "button" %>
      <% end %>

      <div class="top-icon-links">
        <a href="/api/v1/game_archives" target="_blank"><i class="fas fa-dice-d20"></i></a>
      </div>
    </div>
  </div>
</div>

</nav>
