<hr>
<hr>
<hr>
<hr>
<hr>

<div id="my-target-element">
  <div class="container">
    <div class="margin-top-bottom">
      <h1>Top 500 Board Games of 2019!!</h1>
 <!--       
        <div v-for="g in game_archives">
          <p>~</p>
            <div v-for="cat in g.game_categories">
              <p>{{ cat.category_name }}</p>
            </div>
          </div>
                  
      <p>{{game_archive}}</p>
-->      

      <input type="text" v-model="search" placeholder="search games" class="search-bar">
      <div class=checkboxes>
        <div>
          <label v-if="archive_filter.isVisible === false">Show All</label>
          <input type="checkbox" name="check_all_on" v-if="archive_filter.isVisible === false" @click="filterAllOn">
        </div>
        <div>
          <label>Game Names </label>
          <input type="checkbox" name="game_name" @click="filterNames">
        </div>
        <div>
          <label>Game Ranks </label>
          <input type="checkbox" name="game_rank" @click="filterRanks">
        </div>
        <div>
          <label>Playing Times </label>
          <input type="checkbox" name="playing_time" @click="filterTimes">
        </div>
        <div>
          <label>Categories </label>
          <input type="checkbox" name="category" @click="filterCategories">
        </div>
        <div>
          <label>Mechanics </label>
          <input type="checkbox" name="mechanic" @click="filterMechanics">
        </div>
        <div>
          <label>Designers </label>
          <input type="checkbox" name="designer" @click="filterDesigners">
        </div>
        <div>
          <label v-if="archive_filter.isVisible  === true">Hide All</label>
          <input type="checkbox" name="check_all_off" v-if="archive_filter.isVisible === true" @click="filterAllOff">
        </div>
      </div>

      <div class="masonry">
        <div class="item card" v-for="g in filterGames" @click="openLink(g.bgg_link)">
          <img :src="g.thumb_url" class="card-img center-content">
          <p class="font-weight-bold text-light bg-dark" v-if="archive_filter.game_name"><b>{{ g.game_name }}</b></p>
          <p v-if="archive_filter.game_rank">Rank: {{ g.game_rank }}</p>
          <p v-if="archive_filter.playing_time">{{ g.playing_time }} minutes</p>
          <p class="font-weight-bold text-light bg-dark" v-if="archive_filter.category">Category:</p>
          <div v-for="cat in g.game_categories">
            <p v-if="archive_filter.category">{{ cat.category_name }}</p>
          </div>
          <p class="font-weight-bold text-light bg-dark" v-if="archive_filter.mechanic">Mechanic:</p>
          <div v-for="mech in g.game_mechanics">
            <p v-if="archive_filter.mechanic">{{ mech.mechanic_name }}</p>
          </div>
          <p class="font-weight-bold text-light bg-dark" v-if="archive_filter.designer">Designer:</p>          
          <div v-for="des in g.game_designers">
            <p v-if="archive_filter.designer">{{ des.designer_name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
