
<h1>PAges#index</h1>
<p>Find me in app/views/landing/pages.html.erb</p>

<!-- <div id='hello'>
  {{ message }}
  <app></app>
</div> -->

<div id="my-target-element" data-var-name="
<% @game_archives.each do |game| %>
<%= game.game_name %>
<% end %>
"></div>
