<hr>
<hr>
<hr>
<hr>
<hr>

<div id="my-target-element">
  <div class="container">
    <div class="margin-top-bottom">
      <h1>Top 100 Board Games of 2019!!</h1>
      <input type="text" v-model="search" placeholder="search games" class="search-bar">
      <div class=checkboxes>
        <div>
          <label>Game Names </label>
          <input type="checkbox" name="game_name" @click="filterNames">
        </div>
        <div>
          <label>Game Ranks </label>
          <input type="checkbox" name="game_rank" @click="filterRanks">
        </div>
        <div>
          <label>Playing Times </label>
          <input type="checkbox" name="playing_time" @click="filterTimes">
        </div>
        <div>
          <label>Categories </label>
          <input type="checkbox" name="category" @click="filterCategories">
        </div>
        <div>
          <label>Mechanics </label>
          <input type="checkbox" name="mechanic" @click="filterMechanics">
        </div>
        <div>
          <label>Designers </label>
          <input type="checkbox" name="designer" @click="filterDesigners">
        </div>
      </div>

      <div class="masonry">
        <div class="item card" v-for="g in filterGames" @click="openLink(g.bgg_link)">
          <img :src="g.thumb_url" class="card-img center-content">
          <p v-if="game_archive.game_name"><b>{{ g.game_name }}</b></p>
          <p v-if="game_archive.game_rank">Rank: {{ g.game_rank }}</p>
          <p v-if="game_archive.playing_time">{{ g.playing_time }} minutes</p>
          <div v-for="cat in g.game_categories">
            <p v-if="cat.category_name">{{ cat.category_name }}</p>
          </div>
          <div v-for="mech in g.game_mechanics">
            <p v-if="mech.mechanic_name">{{ mech.mechanic_name }}</p>
          </div>
          <p v-if="game_archive.designer">Designer: {{ g.designer }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
