
<hr>
<hr>
<hr>
<hr>
<hr>
<div id="my-target-element">
  <div>
    <ul>
      <li v-for="g in get_games">
          {{g.game_rank}} : {{ g.game_name }} - Mechanic : {{ g.mechanic }}
      </li>
    </ul>
  </div>
</div>
